TaskService/TaskServices/webapp/wsdl/TaskServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.taskservices.soa.inatel.edu.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.taskservices.soa.inatel.edu.br" xmlns:intf="http://soap.taskservices.soa.inatel.edu.br" xmlns:tns1="http://model.taskservices.soa.inatel.edu.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.taskservices.soa.inatel.edu.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model.taskservices.soa.inatel.edu.br"/>
   <element name="add">
    <complexType>
     <sequence>
      <element name="task" type="tns1:Task"/>
     </sequence>
    </complexType>
   </element>
   <element name="addResponse">
    <complexType>
     <sequence>
      <element name="addReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model.taskservices.soa.inatel.edu.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Task">
    <sequence>
     <element name="description" nillable="true" type="xsd:string"/>
     <element name="done" nillable="true" type="xsd:boolean"/>
     <element name="id" nillable="true" type="xsd:long"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addResponse">

      <wsdl:part element="impl:addResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addRequest">

      <wsdl:part element="impl:add" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TaskServices">

      <wsdl:operation name="add">

         <wsdl:input message="impl:addRequest" name="addRequest">

       </wsdl:input>

         <wsdl:output message="impl:addResponse" name="addResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TaskServicesSoapBinding" type="impl:TaskServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="add">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TaskServicesService">

      <wsdl:port binding="impl:TaskServicesSoapBinding" name="TaskServices">

         <wsdlsoap:address location="http://localhost:8082/TaskServices/services/TaskServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
